// Body
$body-bg: #f8fafc;
// $body-bg: #000;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-Rubik: "Rubik", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$black: #000;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$grey: #eae7ed;

$primary: $black;
$gold: #d7be69;
$gold-gradient: linear-gradient(
  to right,
  rgb(170, 119, 28),
  rgb(251, 245, 183),
  rgb(191, 149, 63),
  rgb(251, 245, 183),
  rgb(191, 149, 63)
);

$animated-black: #2c303a;

// @mixin linear-gradient($direction, $color-stops...) {
//     background: nth(nth($color-stops, 1), 1);
//     background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
//     background: linear-gradient($direction, $color-stops);
//   }
